@import './base.css';

#app {
  min-height: 100vh;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 2fr 10fr;
  width: var(--grid-max-width);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.game-container {
  position: relative;
  width: 352px;
  height: 198px;
  outline: 1px solid var(--world-color-border);

  transform: scale(3);

  canvas {
    image-rendering: pixelated;
  }
}
